@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400&family=Karla:wght@200;400&family=Poppins:wght@200;300;400&display=swap');*{
   background-color: #F1F2F6;
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
}
@media screen and (max-width:768px){
   .container{
      padding: 10vw 10vh;
       width: 100vw;
       height: 100vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
   
   }
   .location{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      width: 70vw;
      padding-bottom: 5vh;
   }
   .weathercard{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      border: 1px solid black;
      border-radius: 15px;
      padding:  20vw 10vw 5vw 10vw;
      width: 70vw;
   
   }
}
@media screen and (min-width:769px){
.container{
   padding: 10vw 10vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;



}
.location{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 10vh;
   text-align: left;
   padding-right: 5vw;
   width: 30vw;
}
.weathercard{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 1px solid black;
   border-radius: 15px;
   padding: 10vw;
   width: 40vw;

}
}
.main{
   
   padding: 10%;
   border: 1px solid rgb(53, 113, 130);
   border-radius: 10px;
   
  }
  .header{
    font-size: 5vw
  }
  .info{
     font-size: 20px;
  }
.navbar{
   display: flex;
   justify-content: flex-end; 
   padding-right: 5vw;
   padding-top: 2vw;
   position: fixed;
   top: 0;
   width: 100%;

}
.navbar ul{
   list-style: none;
   display: flex;


}

.navbar li{
   font-size: 16px;
   text-align: center;
   padding-left: 2vw;
}
.navbar a{
   text-decoration: none;
   color: black;
}

.navbar a:hover{
   text-decoration: none;
   color: #8884FF
}

h1{
   font-size: 80px;
}
h2{
   font-size: 50px;
}

